@using CarDealer.Services.Models
@model AllCustomersModel

@ViewData["Title"] =  "View All Customers"

<h2>All Customers - @Model.SortOrder</h2>

<table>
    <thead>
        <td></td>
    </thead>
</table>
